Screen {
    background: $surface;
}

#outer {
    align: center middle;
    height: 100%;
    width: 100%;
}

#card {
    width: 60%;
    max-width: 60;
    padding: 2 4;
    border: round #333333;
    background: #878787;
}

#title {
    text-align: center;
    text-style: bold;
    color: black;
    margin-bottom: 1;
}

#subtitle {
    text-align: center;
    color: black;
    margin-bottom: 2;
}

Input {
    width: 100%;
    margin-bottom: 1;
}



#error {
    color: white;
    height: 1;
    text-align: center;
    margin-bottom: 1;
}

Button {
    align: center middle;
    margin-top: 1;
}

